---
import Layout from './Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
    transparentHeader?: boolean;
}

const { title, transparentHeader = false } = Astro.props;
---

<Layout title={title}>
    <Navbar />
    <main class:list={["flex-1", transparentHeader ? "pt-0" : "pt-24"]}>
        <slot />
    </main>
    <Footer />
</Layout>
